<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"	
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<mvc:annotation-driven />	
	<context:component-scan base-package="cz.uhk" />	
   
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    </bean>
    
	<!-- Datove beany=================================================================== -->
    <bean name="polozka1" class="cz.uhk.shop.domain.Polozka">
        <property name="id" value="1"/>
        <property name="nazev" value="Čepice FIM"/>
        <property name="cena" value="123.50"/>
        <property name="dph" value="19"/>
    </bean>
    <bean name="polozka2" class="cz.uhk.shop.domain.Polozka">
        <property name="id" value="2"/>
        <property name="nazev" value="FIMíček"/>
        <property name="cena" value="30"/>
        <property name="dph" value="19"/>
    </bean>
    <bean name="polozka3" class="cz.uhk.shop.domain.Polozka">
        <property name="id" value="3"/>
        <property name="nazev" value="FIM Kravata"/>
        <property name="cena" value="180.50"/>
        <property name="dph" value="19"/>
    </bean>
    <bean name="polozka4" class="cz.uhk.shop.domain.Polozka">
        <property name="id" value="4"/>
        <property name="nazev" value="Modrý index"/>
        <property name="cena" value="12"/>
        <property name="dph" value="5"/>
    </bean>
    
    <bean name="katalog" class="cz.uhk.shop.domain.SimpleKatalog">
        <property name="polozky">
            <list>
                <ref bean="polozka1"/>
                <ref bean="polozka2"/>
                <ref bean="polozka3"/>
                <ref bean="polozka4"/>
            </list>
        </property>
    </bean>
    
    <bean id="shopManager" class="cz.uhk.shop.domain.ShopManager">
        <property name="katalog" ref="katalog"/>
    </bean>
    
    <bean id="polozkaValidator" class="cz.uhk.shop.domain.validace.PolozkaValidator"/>
    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

</beans>
